@(user: User)

@main("Profile", loggedIn = true) {
    <h1>Welcome, @user.friendlyName</h1>
    @if(user.hasGames) {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Win/Loss</th>
                    <th>Hero</th>
                    <th><abbr title="Kills, deaths, assists">K / D / A</abbr></th>
                    <th><abbr title="Gold per minute">GPM</abbr></th>
                    <th><abbr title="Experience per minute">XPM</abbr></th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            @for(game <- user.games) {
                <tr>
                    @if(game.details.win) {
                        <td class="text-success">WIN</td>
                    } else {
                        <td class="text-danger">LOSS</td>
                    }
                <td><img src="@game.hero.imageUrl" height="35px"/> @game.hero.name</td>
                <td>@game.details.kills / @game.details.deaths / @game.details.assists</td>
                <td>@game.details.gpm</td>
                <td>@game.details.xpm</td>
                <td>@game.date.toLocalDate</td>
                </tr>
            }
            </tbody>
        </table>
    } else {
        <p>You have no games in your profile yet! Select the game you started your A-Z challenge with and I'll try
        to fill in the rest.</p>
        @*TODO show all the Abbadon games for the user *@
    }
}