@(user: User)

@main("Profile", loggedIn = true) {
    <h1>Welcome, @user.friendlyName</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Hero</th>
                <th>K / D / A</th>
                <th>GPM</th>
                <th>XPM</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        @for(game <- user.games) {
            <tr>
                <td><img src="@game.hero.imageUrl" height="35px"/> @game.hero.name</td>
                <td>@game.details.kills / @game.details.deaths / @game.details.assists</td>
                <td>@game.details.gpm</td>
                <td>@game.details.xpm</td>
                <td>@game.date.toLocalDate</td>
            </tr>
        }
        </tbody>
    </table>
}